In [1]:
import pandas as pd

* Algumas constantes

In [6]:
area_cerrado_maranhense = 217029
area_cerrado_maranhense

217029

In [2]:
df = pd.read_csv('dados/csv/terrabrasilis_cerrado_5_18_2024,_11_26_39 AM.csv')
df.head()

   year     areakm  municipality  geocode_ibge     state
0  2000  42.515084  Afonso Cunha       2100105  Maranhão
1  2001   1.687509  Afonso Cunha       2100105  Maranhão
2  2002   1.687509  Afonso Cunha       2100105  Maranhão
3  2003   3.922876  Afonso Cunha       2100105  Maranhão
4  2004   3.922876  Afonso Cunha       2100105  Maranhão

* Para quais anos temos dados ?

In [4]:
df["year"].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022, 2023])

* Qual o total de desmatamento no bioma ?

In [3]:
total_desmatamento = df["areakm"].sum()
total_desmatamento

89880.3660872508

* Qual o total de desmatamento no bioma, de 2001 a 2023 ?

In [5]:
total_desmatamento_01_23 = df[df["year"] != 2000]["areakm"].sum()
total_desmatamento_01_23

48523.41371421536

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns